<template>
  <a 
    v-if="item['main_image_url']" 
    :href="item['link_url']" 
    target="_blank" 
    class="card"
  >
    <div 
      :style="{ 'background-image': 'url('+ item['main_image_url'] +'?w=350&h=240)' }" 
      class="card-image"
    >
    </div>
    <h3>{{item.title}}</h3>
  </a>
</template>

<script>
export default {
  name: 'Card',
  /* the item that is passed from the parent
  * is now available as a props and is accesable everywhere
  * in this component
  */
  props: ['item']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a.card {
  display: block;
  width: 350px;
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
  -moz-box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
  box-shadow: 2px 2px 5px -1px rgba(173, 173, 173, 1);
  color: #555555;
  text-decoration: none;
}

a.card:hover {
  color: #f8116a;
}

div.card-image {
  width: 350px;
  height: 240px;
  background-size: cover;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 25px;
  margin: 0px;
}
</style>
