<template>
  <div id="app">
    <!--create a card component for every item in the content array-->
    <Card 
      v-for="item in content" 
      :key="item.id" 
      :item="item"
    />
    <!-- display an error in case of a request error.
    the error is rendered only if javascript variable has an error -->
    <h2 v-if="error">{{error}}</h2>
  </div>
</template>

<script>
// the card is abstracted as seperate components
// and imported to the main APP component
import Card from './components/Card'

const URL = 'https://api.idio.co/1.0/content'
const KEY = 'URN4QXKCG3QD3Y5MS51A'

export default {
  name: 'app',
  /**
  * the variables that the data function returns
  * are the props of the component, they are accesable everywhere
  * they can be used as a props inside html to create one or two way
  * data binding
  */
  data () {
    return {
      content: [],
      error: ''
    }
  },
  // The creation hook gets called before the app component rendering
  created () {
    // call getcontent method to populate the data variables
    this.getContent()
  },
  methods: {
    /**
    * issues a Jsonp get request to the IDIO content list api
    * to get the content and assign it to the content array
    */
    getContent () {
      this.$http.jsonp(URL, {params: {key: KEY}}).then(
      response => {
        this.content = response.body.content
      }).catch(err => {
        this.error = 'Error: ' + err.status
      })
    }
  },
  components: {
    Card
  }
}
</script>

<style>
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #f9f9f9;
}

#app {
  margin: 0 auto;
  width: 350px;  
}
</style>
